name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: [ubuntu-latest, macos-latest]

    steps:
    - name: checkout repo
      uses: actions/checkout@main
    - name: make
      run: make
    - name: make test
      run: make test
